.env
.env.*
!.env.example

.venv/
venv/
ragas_env/
.deepeval/

__pycache__/
*.py[cod]
*.pyd
*.so

.chainlit/
.vscode/
.idea/

.DS_Store
Thumbs.db

chunks.db
chunks.db-journal

*.log
.cache/
.pytest_cache/

.git/
.gitignore
